@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-background text-cat-black font-sans;
  }
  h1, h2, h3, h4 {
    @apply font-display uppercase tracking-tight;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 999px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
